#NFT-card {
  position: relative;
  max-height: 280px;
}

#NFT-card:hover {
  background-color: rgba(20, 20, 20, 0.8);
}

.card-desc-p {
  position: absolute;
  top: 35%;
  left: 5%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: none;
}

#NFT-card:hover .card-desc-p {
  display: block;
}

#NFT-card:hover .card-ribbon {
  background-color: rgba(244, 0, 0, 0.2);
  opacity: 0.2;
}
#NFT-card:hover #card-avatar {
  background-color: rgba(244, 0, 0, 0.2);
  opacity: 0.2;
}
#NFT-card:hover #card-image {
  opacity: 0.2;
}



.ribbon-angle {
  position: absolute;
  z-index: 8;
  width: 120px;
  height: 120px;
  overflow: hidden;
  top: 0;
  right: 0;
}

.card-ribbon {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
  transform: rotate(45deg);
  background-color: #f83245;
  top: 16px;
  left: 27px;
}
