#NFT-card {
  position: relative;
  max-height: 280px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#NFT-card:hover {
  background-color: rgba(20, 20, 20, 0.8);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.card-desc-p {
  position: absolute;
  top: 35%;
  left: 5%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: none;
}

#NFT-card:hover .card-desc-p {
  display: block;
}

#NFT-card:hover .card-ribbon {
  background-color: rgba(244, 0, 0, 0.2);
  opacity: 0.2;
}
#NFT-card:hover #card-avatar {
  background-color: rgba(244, 0, 0, 0.2);
  opacity: 0.2;
}
#NFT-card:hover #card-image {
  opacity: 0.2;
}

.change-font {
  font-family: "NEXON Lv1 Gothic OTF";
}

.ribbon-angle {
  position: absolute;
  z-index: 8;
  width: 120px;
  height: 120px;
  overflow: hidden;
  top: 0;
  right: 0;
}

.card-ribbon {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
  transform: rotate(45deg);
  background-color: skyblue;
  top: 16px;
  left: 27px;
}

#selling .card-ribbon {
  background-color: skyblue;
}

#sold .card-ribbon {
  background-color: red;
}
